
/*navigation*/

.reservia-img{
	position: relative;
	top: 10px;
	left: 15px;
	width: 80px;
}

#navigation a{
	position: absolute;
}

#navigation{
	width: 375px;
	margin:0 auto;

} 

.menu-nav{
	padding: 0;
    margin: 0;								
	width: 100%;
}

nav{
	width: 100%;
}

.lien{
	font-size: 1em;
    margin:80px 0 0 0;
}

.lien:hover {
	  background: white;
      border-top:0;
      padding-top:0;
}

nav ul li a:hover{
	color: black;
}

.activités{
	width: 200px;
	border-bottom: solid #F2F2F2;
	padding: 0;	
}

.hébergements{	
	width: 200px;
	border-bottom: solid #0065FC;
	border-top: none;
	padding: 0;
}

.inscription{
	position: relative;
	bottom:35px;
	right: 45PX;
	font-size:1em;	
	margin: 0;
}

/*section formulaire filtres*/

#recherche-filtres{
	width: 375px;
	margin: 0 auto;
}

/*formulaire*/

#formulaire{
	width: 95%;
}

#formulaire h1{
	font-size:1.7em;
	margin:10px 0 0 10px;
}

#formulaire p{
	font-size: 1em;
	margin:10px 0 10px 10px;	
}

form{
	width: 100%;
	margin-left: 10px;
}

input{
	width: 100%;
	border-right: 0px;
	height: 60px;
}

.recherche span{
	display: none;
}

.recherche i{
	display:block;
	font-size: 1.5em;	
}

.recherche{
	position: relative;
	right: 10PX;
	border-radius: 20px;
	width: 25%;
}

::placeholder{
	padding-left: 10px;
	font-size: 1.1em;
	width: 70%;
}
/*les filtres*/
#menu-filtre{
	height: 350px;
	width: 95%;
}

#menu-filtre h2{
    width: 100%;	
	font-size:1.5em;
}

.filtres{
	height: 50PX;
	width: auto;	
}

.filtres i{
	height: 50px;
	width: 50px;
}
/*information*/
#texte-information p{
	font-size: 1em;
}

#texte-information i{	
	margin-bottom: 15px;
	width: 25px;	
	height: 20px;
}


/*hébergements-populaires*/

#hébergement-populaires{
	flex-direction: column-reverse;		
}

/*section populaire*/

aside{
    width: 375px;
	height: 900PX;
	border-radius: 0px;
	margin: 0 auto 20px auto;
}

aside>h2{
	font-size: 1.5em;
	width: 85%;
}

.présentation-2{
 	width:75%;
 	font-size: 1em;
}

 .description-2 h2{
	font-size:1.3em;
	margin: 0;
}

/*hébergements*/

#conteneur-hébergements{
	background-color:white;
	width: 375px;
	margin:auto;
}

#conteneur-hébergements>h2{
	font-size:1.5em;
	margin: 0 auto 20px 15px;
}

#conteneur-hébergements>h3{
	margin: 0 0 0 15px;
	font-size:1.5em;
}

.partie-1{
	flex-direction:column;
    height: 800px;
 }
	
.partie-2{
	flex-direction: column;
	height: 800px;
}	

.présentation-1{
	width:75%;
	height:230px;
	font-size: 1em;
	margin: auto;

}

.présentation-1 h2{
	font-size:1.3em;
}

.description-1 p{
	margin:0 0 3px 0;
}

/*section activité*/

#activités{
	width: 375px;
	margin: 20px auto;
	height: 1600px;
}

#conteneur-activités{
	flex-direction: column;
	width: 90%;	
	height: 1540px;
	margin: auto;	
}

#activités>h2{
	margin-left:35px;
	margin-top: 20px;
	font-size: 1.3em;
}

.grde-carte{
	width:100%;
	height: 230px;
}

.grde-carte img{
	height: 170px;
}

.petite-carte{
	height: 515px;
	width: 100%;
	justify-content: space-around;	
}

.petite-carte img{
	height: 170px;
}

.petite-image{
	width: 100%;
	height: 230px;
	
}

/*footer*/

#tout-le-contenu{
	flex-direction: column;
	height: 130px;
	margin:0;
	width: 100%;
}

.conteneur-footer{
	width: 90%;
}


footer{
	width: 375px;
	height: 480px;
	margin:30px auto 0 auto;
	font-size: 0.7em;

	
}


