

body{
	margin: 0px;
	padding: 0px;
	font-family:'Raleway', sans-serif;
	box-sizing: border-box;
    font-size: 16px;
}

a {
	text-decoration: none;
	color: black;	
}

li  {
	list-style-type: none;	
}
 
header{
	margin:auto;
	max-width: 1350px;
}

main{
	margin:auto;
	max-width:1350px;
}


/*navigation*/
#navigation {
	font-size: 1em;	
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.reservia-img{		
	width: 40%;	
}

nav {
	width: 70%;	
	display: flex;
	justify-content:flex-end;
}

.menu-nav {
	display: flex;
	width:30%;
	margin-right: 20px;
	justify-content: space-between;	
}

.lien{
	display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
	padding-top: 10px;
	
}	
	
.hébergements{
	width: 50%;
	padding-top: 10px;	
}

.activités{
	padding-top: 10px;
	width: 50%;
}

.inscription  {
    display: flex;
    margin-top: 10px;
	justify-content: center;
	align-items: center;
	color: #0065FC;
	font-weight:600;   
}

.inscription a:visited{
	color: #0065FC;
}

.lien:hover {
	 
      border-top: solid 5px #0065FC;
      padding-top: 5px;
}

nav ul li a:hover{
	 color:#0065FC;
}


/*section formulaire filtres*/

#recherche-filtres{
	display:flex;
	flex-direction: column;	
	width: 90%;
	flex-wrap: wrap;
}

/*formulaire*/

#formulaire h1 {
	width:100%;
	font-size:2.5em;	
}

#formulaire {
	height:200PX;
	width: 100%;	
}

form{
	width: 50%;
	height:30px;
	min-height:60px;
	display:flex;	
}

label{
	display: flex;
	border-radius: 10px 0 0 10px;
	background:#F2F2F2; 
	justify-content: center;
	align-items: center;
	color: black;
	width:4%;
	min-width: 60px;
	font-size: 1.5em; 	
}

input{
	border:solid 1px #F2F2F2;
	width:30%;
	font-size: 1em;
}

::placeholder{
	color:black;
	font-weight: bold;
}

form :hover {
	cursor:pointer;
	color:black;
}

.recherche {
	background:#0065FC; 
	color: white;
	border-radius: 0 10px 10px 0;
	border-style: none;
	width:20%;
	font-size: 1em;	
}

.recherche i{
	display: none;
}

/*les filtres*/

#menu-filtre{
	display: flex;
	justify-content: space-between;
	width:80%;
	height: auto;	
	margin-top: 30px;
	flex-wrap: wrap;	
}

#menu-filtre h2{
	margin:auto 0;
	font-size: 2em;
}

.filtres{
	border: solid  2px #F2F2F2;
	border-left:0px;
	display: flex;
	align-items: center;
	border-radius:50px;
	width: auto;
	height:70px;
	padding-right:20px;	
	margin: auto;
	transition: transform .1s;	
	font-weight: bold;
}

 .filtres i {
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid #deebff;
	border-radius:50%;
	width:70px;
	height: 70px;
	color: #0065FC;
	background-color: #deebff;
}

.filtres:hover{
    transform:scale(1.08);
}

/*information*/

#texte-information{
	display: flex;
	align-items:center;
	width: 100%;
}

#texte-information p{
	width: 100%;
	margin-left: 15px;
	
}

#texte-information i{
	color: #0065FC;
	display: flex;
	justify-content:center;
	align-items:center; 
	width: 30px;	
	height: 30px;
	border-radius: 50%;
	border:solid #F2F2F2;	
}

/*hébergements-populaires*/

#hébergement-populaires{
	width: 100%;
	display:flex;
	column-gap:2em;
	justify-content: space-between; 
}

.bleu{
	color:#0065FC;
}

.gris{
	color:#F2F2F2;
}

span{
	font-weight: bold;
} 


/*hébergements*/

#conteneur-hébergements{
	display: flex;
	flex-direction: column;
	border-radius:20PX;
	background-color:#F2F2F2;
	width:950px;
}

#conteneur-hébergements>h2{
	margin: 40px 0 40px 60px;
	font-size: 2em;
}

.partie-1{
	display: flex;
	justify-content: space-around;
	column-gap:1em;
}

.partie-2{
	display: flex;
	justify-content: space-around;
	column-gap:1em;
}

.présentation-1{
    width: 230px;
	height:250px;
	padding: 10px;
	background-color: white;
	border-radius: 30PX; 	
	margin-bottom: 30px;
    box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 50%);
    transition: transform .4s;  
}

.description-1{
	display: flex;
	flex-direction: column;
	height: 110px;
}

.description-1 h2{
	margin:0;
	font-size: 1.3em;
}

.description-1 p{
	margin:10px 0;
	font-size: 0.8em;
}

.présentation-1:hover{
	transform:scale(1.10);
}

.présentation-1 img{
	width:100%;
	height: 150px;
	object-fit: cover;
	border-radius: 20px 20px 0 0;
}

#conteneur-hébergements h3{
	margin: 0 0 20px 60px;
	font-size: 1.5em;
}

h3:hover{
	 color:#0065FC;
	 cursor: pointer;
}

/*section populaire*/

aside{
    display:flex;
    flex-direction: column;
	border-radius:20px;	
	justify-content: space-around;
	width: 400px;
	background-color:#F2F2F2;	
}

aside>h2{
	font-size: 2em;	
	width: 85%;
	margin:0 auto;
	margin-bottom: 0px;
	display:flex;
	justify-content: space-between;
}

.présentation-2{	
    display: flex;
	transition: transform .4s;
	border-radius:30px;
	background-color: white;
	padding:10px;
	box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 50%);
	height:180px;
	width: 300px;
	margin: auto;
}

.présentation-2:hover{
	transform:scale(1.10);
}

.description-2{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 70%;
	height: 100%;
    margin-left: 10PX;			
}

.description-2 h2{
	width: 100%;
	font-size: 1.3em;
}

.description-2 p{
	width: 100%;
	font-size: 0.8em;
}

.présentation-2 img{
	width:40%;
	box-sizing: border-box;
	object-fit: cover;
	border-radius:20px 0 0 20px;
}

/*section activité*/
#activités{
	display:flex;
	flex-direction: column;	
}

#activités>h2{
	margin-left:20px;
	font-size: 2vh;
}

#conteneur-activités{	
	display: flex;
	justify-content: space-between;
	width: 100%;	
}

.grde-carte{
	width:23%;
	transition: transform .4s;
	border-radius: 20PX;
	box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 50%)	
}

.grde-carte img{	
	border-radius:20PX 20PX 0 0;	
	height: 550px;
	object-fit: cover;	
	width: 100%;    
}

.grde-carte:hover{
	transform:scale(1.05);
}

.petite-carte{
	display:flex;
	flex-direction:column;
	justify-content: space-between;
	width:23%;
}

.petite-image{
	display:flex;
	transition: transform .4s;
	flex-direction:column;
	border-radius: 20PX;
	box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 50%)
}

.petite-image:hover{
	transform:scale(1.10);
}

.petite-image img{
	height: 240px;
	border-radius:20PX 20PX 0 0;	
	object-fit: cover;
	width: 100%;
}

.titre-img{	
	margin-left: 15px;	
}

/*footer*/

footer{
	width:100%;
	height: 200px;
	background-color: #F2F2F2;	
    margin-top: 60px;
}

footer h2{	
	font-weight: bold;
	font-size: 1.5em;
}

footer ul li a:hover{
     color:#0065FC;	
}

#tout-le-contenu{
    display: flex;
	justify-content: space-between;
	align-items: center;
	width:70%;
	height: 200px;	
}

.conteneur-footer{
	margin-left: 30px;
}

.conteneur-footer ul{
	flex-direction: column;
	width: auto;
	height: 100px;
	padding: 0;	
}

.conteneur-footer li{
	margin-bottom: 10px;
}







	