

*{
	margin: 0px;
	padding: 0px;
	font-size: 1.2rem;
	font-family:'Raleway', sans-serif;
}

a {
	text-decoration: none;	
}

li  {
	list-style-type: none;	
}

/*navigation header*/

#container-header{
	display: flex;
    justify-content: space-between;
}

.reservia-img{
	width: 161PX;
	height: 75PX;
}

#navigation {
	display: flex;
	height: 120PX;
}

.nav-list{
	display: flex;
	width: auto;
	height:120PX;
	align-items:flex-end;
}

.lien{
	display:flex;
    justify-content: center;
	color: #0065FC;
	width: 200px;
	height: 120PX;
	align-items: center;
	margin-right: 70PX;	
}

.Hébergements :visited{

	color: #0065FC
}

.lien:hover {
	  background: #deebff;
      color: #0065fc;
      border-top: solid 5px #0065FC;
      font-weight:bold;
}

.Activités :visited{
     color:black;
}

.inscription {
	display: flex;
	margin-right:70PX;
	color: #0065FC;
	font-weight:600;
	align-items: center;
}

/*section de recherche*/
#formulaire-recherche{

	border: green solid;
	width: auto;
	height: auto;
}

.titre{
	margin: 10PX;
}
.titre2{
	font-size:0.6em;
	margin: 5PX;
}

.formulaire{
	display:flex;
	width: auto;
	height:40PX;
}

label{
	display: flex;
	border-radius: 10PX 0 0 10PX;
	width: 50pX;
	height: auto;
	background:#F2F2F2; 
	justify-content: center;
	align-items: center;
	color: black;
}

input{
	border: none;

}
#recherche::placeholder{
	color:black;
}

.bouton{
	background:#0065FC; 
	color: white;
	border-radius: 0 10PX 10PX 0;
	width: 160PX;
}
